.box{
float:left;
width: 200px;
text-align: center;
border: solid 2px;
margin-right:20px;
margin-bottom: 10px;

}

.after{
clear:both;
}

.link{
float:right;
}

#category,#source{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#category,#source{
  padding: 0,auto;
  margin-bottom:20px;
}

#category,#source ul{
  margin-left:-20px;/１カラムのpadding分マイナスマージン
  overflow:hidden;
  background-color:white;
}

#category>ul>li ,#source>ul>li {
  list-style-type:none;
  float:left; /*floatで横並びに*/
  margin-right:20px;
  margin-bottom: 10px;
  text-align:center;
    background-color: coral;
}
